form(action='/user/new' method='POST' enctype='application/x-www-form-urlencoded')
  label Email
  input(type='email' name='email' tabindex='1' required='required')

  label Password
  input(type='password' name='password' tabindex='2' required='required')

  input(type='submit' value='Register')
  
